<ul>
<li>Bir salona sınav eklemek için, sınav ekleyeceğiniz tarih satırında ve ilgili salon sütununda bulunan <b>EKLE</b> bağlantısına tıklayınız.</li>
<li>Bir salondan sınav silmek için, ilgili hücrede bölümünüzün kısaltmasına tıklayınız.</li>
<li>Başka bir bölümün sınavı silinemez</li>
<li>Tüm programlarımızın müfredatında yer alan <b>Matematik – I</b> dersi yarıyılsonu sınavları 11 Ocak 2017 Çarşamba günü saat 10:00'da yapılacaktır</li>
</ul>
<h4>Kısaltmalar</h4>
BIL : Bilgisayar Teknolojileri<br />
INS : İnşaat Teknolojileri<br />
ELK : Elektrik ve Enerji<br />
ELO : Elektronik ve Otomasyon<br />
HRT : Mimarlık ve Şehir Planlama<br />
OTO : Motorlu Araçlar ve Ulaştırma<br />
MAK : Makine ve Metal Teknolojileri<br />
TKS : Tekstil, Giyim, Ayakkabı ve Deri<br />
UZEM : UZEM Ortak Dersler<br />
{{sinav-cizelge-tablosu exams=model halls=salonlar}}
